body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DDD;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

p, span, ul, ol, li, i {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 1em;
	height: auto;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	border: 1px solid gray;
	box-shadow: 0 0 20px #616161;
}

header, footer {
	color: white;
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #4078aa;
}

header img {
	max-width: 100px;
	height: auto;
	box-shadow: 0px 0px 5px #616161;
}

header h1 {
	margin-left: 1em;
}

main {
	padding: 0 1em;
}



hr {
	margin: 0;
}

footer {
	flex-direction: column;
}


footer p {
	margin:0;
}

footer p:nth-child(2) {
	color: #FFFFB3;
}
